@tailwind base;
@tailwind components;
@tailwind utilities;




.screen1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.screen2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/counter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.screen3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/contact-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}





